.mat-header-row {
    background-color: #ededed;
    height: 30px;
    font-weight: bold;
}

th.mat-header-cell {
    padding-left: 15px;
    color: black;
}

.mat-row:nth-child(even){
    background-color: #ededed;
}