<app-spinner [loading]="loading"></app-spinner>
<div class="home-container" *ngIf="!loading" [ngClass]="showState ? 'stateBackground' : 'defaultBackground'">
    <ng-container *ngIf="!showState">
        <div class="header">
            <div class="home-title">At A Glance</div>
            <button mat-icon-button color="accent" matTooltip="Create New Incident" (click)="openNewIncident()">
                <mat-icon>add_box</mat-icon>
            </button>
        </div>

        <div class="state-cards">
            <app-card
                class="state-card"
                *ngFor="let state of statesData | keyvalue"
                (click)="selectState(state.key)"
                [title]="state.key"
                [count]="state.value.count">
            </app-card>
        </div>

        <div class="table-container">
            <div class="table-title">All Incidents</div>
            <app-table [data]="data"></app-table>
        </div>
    </ng-container>
    <ng-container *ngIf="showState">
        <button mat-raised-button class="back-btn" (click)="back()">
            <mat-icon>arrow_left</mat-icon><mat-icon>menu</mat-icon>
        </button>
        <app-state-page [stateData]="state"></app-state-page>
    </ng-container>
</div>