.home-container {
    margin: 50px;
}

.state-cards {
    display: flex;
    justify-content: center;
}

.state-card {
    flex: 1 0 auto;
}

.table-container {
    display: flex;
    justify-content: center;
}

.mat-row:nth-child(odd){
    background-color:#D3D3D3;
}