.card-container {
    background-color: white;
    margin: 5px;
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.2);
}

.card-divider {
    margin: 0px;
}

.card-title {
    padding: 5px 0px 2px 10px;
}

.card-content {
    padding: 15px;
}